/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  } */

  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer base {
    html, body {
      @apply relative h-full;
    }
  
    body {
      @apply bg-gray-200 font-sans text-sm text-black m-0 p-0;
    }
  }
  
  @layer components {
    .swiper-slide img {
      @apply block w-full h-full object-cover rounded-[5%];
    }
  
    .slide-color {
      @apply bg-purple-500 w-4/5 h-4/5;
    }
  }
